.container {
  margin: 0 auto;
  width: 1280px;
  border: 2px solid black;
  font-family: "Arial";
}

.main-header {
  height: 323px;
  padding: 50px;
  box-sizing: border-box;
  background-color: #445161;
}

.main-header-wrapper {
  float: left;
}

.main-header-title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 400;
  text-align: left;
}

.main-header-list {
  list-style-type: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
}

.main-header-list-detail {
  position: relative;
}

.main-header-list-detail::before {
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  margin-top: 8px;
  margin-left: -35px;
  content: "";
  background-image: url('../img/header-bg.png');
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
}

.main-header-product-img {
  display: block;
  background-color: #ffffff;
  width: 469px;
  height: 214px;
  float: right;
}
 
.main-section {
  height: 345px;
  background: #ffffff;
}

.main-section-title {
  font-family: Arial;
  display: block;
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.main-section-wrapper {
  width: 649px;
  height: 200px;
  margin-left: 50px;
  margin-top: 50px;
  font-family: Arial;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

video {
  margin-left: 800px;
  margin-top: -200px;
  width: 430px;
  height: 245px;
  background-color: #445161;
}

.dignity-section {
  width: 100%;
  min-height: 417px;
  background: #f5f5f5;
  font-family: Arial;
}

.dignity-section-title {
  display: block;
  text-align: center;
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  font-family: "Arial";
  padding-top: 50px;
}

.dignity-section-list1 {
  margin-left: 50px;
  width: 530px;
  float: left;
  color: #333333;
  font-family: "Arial";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.dignity-section-list2 {
  width: 530px;
  float: left;
  color: #333333;
  font-family: "Arial";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 20px;
}

.dignity-section-list-li {
  position: relative;
}

.dignity-section-list-li::before {
  content: "";
  background-image: url('../img/header-bg2.png');
  background-color: #445161;
  background-size: 20px 20px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  margin-left: -40px;
  margin-top: 9px;
  position: absolute;
  background-position: center;
}

.scrinshots-section {
  min-height: 487px;
  background: #ffffff;
}

.scrinshots-section img {
  display: block;
  float: left;
}

.scrinshots-section-title {
  display: block;
  text-align: center;
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  font-family: "Arial";
  padding-top: 50px;
}

.scrinshots-section-title-little {
  color: #445161;
  font-family: "Arial";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 15px;
}

.scrinshots-section p {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Arial";
  padding-left: 215px;
}

.figure-list1 {
  width: 570px;
  height: 150px;
  float: left;
}

.figure-list2 {
  width: 570px;
  height: 150px;
  float: left;
  margin-left: 10px;
}

.figure-list3 {
  width: 570px;
  height: 150px;
  float: left;
  margin-top: 10px;
}

.figure-list4 {
  width: 570px;
  height: 150px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}